:root {
    --container-width-main: 1830px;
    --container-padding-main: 15px;

    --container-width-mini: 1140px;
    --container-padding-mini: 15px;

    --container-width-small: 760px;
    --container-padding-small: 15px;

    --font-main: 'Gilroy', sans-serif;
    --font-size-main: 18px;
    --font-weight-main: 400;
    --line-height-main: 1.6;

    --page-bg: #272727;
    --text-color: #E8E8E8;
    --accent-color: #FCD54C;
}