.apartement-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    @include breakpoint(991px) {
        justify-self: center;
    } 
    &__image { 
        flex-shrink: 0;
        width: 100%;
        height: 330px;
        img {
            vertical-align: top;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        flex-grow: 1;
        padding: 20px;
        border: 1px solid #FCD54C;
        transition: background-color .3s linear;
    }
    &__title {
        font-size: 25px;
        line-height: 35px;
        font-weight: 700;
        color: #fff;
        transition: color .3s linear;
    }
    &__descr {
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 3; 
        overflow: hidden; 
        text-overflow: ellipsis; 

        margin-top: 13px;
        font-size: 16px;
        line-height: 26px;
        color: #929292;
        transition: color .3s linear;
    }
    &__link {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: auto;
        span {
            font-family: 'Work Sans';
            font-size: 16px;
            line-height: 1.5;
            font-weight: 600;
            color: #fff;
            transition: color .3s linear;
        }
        svg {
            path {
                transition: stroke .3s linear;
            }
        }
    }
    &:hover {
        .apartement-card__content {
            background-color: #FCD54C;
        }
        .apartement-card__title, 
        .apartement-card__descr {
            color: var(--page-bg);
        }
    
        .apartement-card__link {
            span {
                color: var(--page-bg);
            }
            svg {
                path {
                    stroke: var(--page-bg);
                }
            }
            &:hover {
                span {
                    color: white;
                }
                svg {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }
    }
}