.apartements-info {
    padding-bottom: clamp(3.125rem, 1.75rem + 6.88vw, 10rem);
    &__container {
        max-width: 910px;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__title {
        font-size: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem);
        line-height: normal;
        color: #FFF;
        font-weight: 700;
    }
    &__text {
        margin-top: clamp(1.25rem, 0.875rem + 1.88vw, 3.125rem);
        font-family: 'Work Sans';
        font-size: 16px;
        line-height: 1.6;
        color: #929292;
    }
    &__subtitle {
        margin-top: clamp(1.875rem, 1.25rem + 3.13vw, 5rem);
        color: #fff;
        font-weight: 700;
        font-size: clamp(1.125rem, 1.038rem + 0.44vw, 1.563rem);
    }
}