.latest {
    padding: 124px 0 70px 0;
    &__title {
        color: #FFF;
        font-size: clamp(1.875rem, 1.125rem + 1.56vw, 3rem);
        font-weight: 700;
        line-height: normal;
        @include breakpoint(767px) {
            font-size: clamp(1.5rem, 1.232rem + 1.34vw, 1.875rem);
        }
    }
    &__slider {
        margin-top: clamp(1.563rem, -0.729rem + 4.77vw, 5rem);

        @include breakpoint(767px) {
            margin-top: clamp(1.25rem, -0.089rem + 6.7vw, 3.125rem);
            height: calc(1.33 * (100vw / 2 - 15px) * 2);
        }
        &-pagination {
            display: flex;
            justify-content: center;
            margin-top: clamp(1.25rem, -2rem + 6.77vw, 6.125rem);
            .swiper-pagination-bullet {
                width: 13px;
                height: 13px;
                background-color: #929292;
                opacity: 1;
               
            }
            .swiper-pagination-bullet-active {
                background-color: var(--accent-color);
            }
            &.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
                margin: 0;
            }
            &.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:not(:first-child) {
                margin-left: 17px;
            }
        }
    }

}

