.reviews {
    padding-bottom: clamp(4.375rem, 3.875rem + 2.5vw, 6.875rem);
    &__slide {
        position: relative;
        max-width: 525px;
        margin-top: 62px;
        padding: clamp(3.125rem, 0.833rem + 4.77vw, 6.563rem) clamp(1.625rem, 0.833rem + 1.65vw, 2.813rem) clamp(0.938rem, 0.313rem + 1.3vw, 1.875rem) 30px;
        border: 1px solid var(--accent-color);
        &-avatar {
            position: absolute;
            top: 0;
            left: 31px;

            width: clamp(4.25rem, 2.417rem + 3.82vw, 7rem);
            height: clamp(4.25rem, 2.417rem + 3.82vw, 7rem);
            border-radius: 50%;
            object-fit: cover;
            transform: translateY(-50%);
        }
        &-decoration {
            position: absolute;
            top: clamp(1.125rem, -1.042rem + 4.51vw, 4.375rem);
            right: clamp(2.063rem, 1.646rem + 0.87vw, 2.688rem);
        }
        &-title {
            font-size: 25px;
            line-height: 26px;
            font-weight: 700;
            color: #FFF;
        }
        &-label {
            margin-top: clamp(0.813rem, 0.563rem + 0.52vw, 1.188rem);
            font-family: 'Work Sans';
            font-size: clamp(0.75rem, 0.583rem + 0.35vw, 1rem);
            line-height: 1;
            color: #FFF;
            span {
                color: var(--accent-color);
            }
        }
        &-text {
            display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 3; 
            overflow: hidden; 
            text-overflow: ellipsis; 


            margin-top: clamp(0.5rem, -0.583rem + 2.26vw, 2.125rem);
            font-family: 'Work Sans';
            font-size: clamp(0.75rem, 0.583rem + 0.35vw, 1rem);
            line-height: normal;
            color:#929292;
            &:hover {
                display: block;
                overflow: visible;
            }
        }
    }
    &__slider-pagination {
        display: flex;
        justify-content: center;
        margin-top: clamp(1.25rem, 0.355rem + 4.47vw, 2.5rem);
        .swiper-pagination-bullet {
            width: 13px;
            height: 13px;
            background-color: #929292;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background-color: var(--accent-color);
        }
        &.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
            margin: 0;
        }
        &.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:not(:first-child) {
            margin-left: 17px;
        }
    }
}